html {
    font-family: Arial; 
    display: inline-block; 
    text-align: center;
}
h1 {  
    font-size: 2rem;
}
body {  
    margin: 0;
}
.topnav { 
    overflow: hidden; 
    background-color: #2f4468; 
    color: white; 
    font-size: 1.7rem; 
}
.content { 
    padding: 20px; 
}
.card { 
    background-color: white; 
    box-shadow: 2px 2px 12px 1px 
    rgba(140,140,140,.5); 
}
.cards { 
    max-width: 1525px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    height: 150px;
}
.reading { 
    font-size: 2.8rem; 
}
.card-title{ 
    font-size: 1.2rem; 
    font-weight : bold; 
}
.card.temperature { 
    color: #B10F2E; 
}
.card.humidity { 
    color: #50B8B4; 
}

.card.light{ 
    color: #7b7b0a	; 
}

.card.fan{ 
    color: #0b19e4; 
}

.card.door{ 
    color: #e98707; 
}


.container { 
    max-width: 1500px; 
    margin: 0 auto; 
    
}
.row { 
    display: flex; 
    justify-content: center; 
}
.col-6 { 
    flex: 0 0 50%; 
    max-width: 50%; 
    padding: 15px; 
}
.card-body { 
    padding: 0; 
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  .fan-speeds {
    display: none;
    margin-top: 10px;
  }

  .fan-speeds input[type="radio"] {
    display: none;
  }

  .fan-speeds label {
    cursor: pointer;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    transition: background-color 0.4s, border-color 0.4s;
  }

  .fan-speeds input[type="radio"]:checked + label {
    background-color: #11dc18;
    color: white;
  }